language: rust
before_install:
  - sudo apt-get update
  - sudo apt-get install gcc-multilib
install:
  - curl -O http://static.rust-lang.org/dist/rust-nightly-x86_64-unknown-linux-gnu.tar.gz
  - curl -O http://static.rust-lang.org/dist/rust-nightly-i686-unknown-linux-gnu.tar.gz
  - tar xfz rust-nightly-x86_64-unknown-linux-gnu.tar.gz
  - tar xfz rust-nightly-i686-unknown-linux-gnu.tar.gz
  - cp -r rust-nightly-i686-unknown-linux-gnu/lib/rustlib/i686-unknown-linux-gnu
    rust-nightly-x86_64-unknown-linux-gnu/lib/rustlib
  - (cd rust-nightly-x86_64-unknown-linux-gnu &&
     find lib/rustlib/i686-unknown-linux-gnu/lib -type f >>
     lib/rustlib/manifest.in)
  - sudo ./rust-nightly-x86_64-unknown-linux-gnu/install.sh
  - yes | sudo add-apt-repository ppa:cmrx64/cargo
  - sudo apt-get update
  - sudo apt-get install cargo
script:
  - make CC="$CC" RUSTC="$RUSTC"
  - cargo build
  - cargo test

env:
  - ARCH=i686 CC='cc -m32' RUSTC='rustc --target=i686-unknown-linux-gnu'
  - ARCH=x86_64 CC=cc RUSTC='rustc --target=x86_64-unknown-linux-gnu'
